.txt-theme {
  color: #E9DB89 !important;
}

@font-face {
  font-family: "horse-font";
  src: url("../fonts/horse-font.woff2");
}
@font-face {
  font-family: "typewrite-font";
  src: url("../fonts/ufonts.com_american-typewriter-condensed.ttf");
}
.horse-font {
  font-family: "horse-font";
}

.navbar-toggler {
  position: absolute;
  z-index: 11;
  top: 15px;
  background: #e9db80;
  right: 15px;
}

.typewrite-font {
  font-family: "typewrite-font";
}

body {
  background-image: url("../images/c5cee5_6a5ff6781756407c9fa1a673b1723451~mv2.webp");
  background-attachment: fixed;
  background-repeat: repeat;
}

.txt-yellow {
  font-family: "typewrite-font", serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #c1b46b !important;
  text-align: center;
}

.btn-theme {
  border-radius: 50px;
  box-shadow: 0 1px 0 rgba(14, 24, 33, 0.33);
  background: linear-gradient(180deg, #F4EAB1 0%, #94821B 100%);
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  width: 177px;
  font-size: 11px;
  color: black;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-family: "typewritter";
  letter-spacing: 2px;
  width: 220px;
}
.btn-theme:hover {
  letter-spacing: 3px;
  color: black;
}

.txt-secondary {
  color: #C8BC75;
}

.txt-para {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.page-layout {
  background: #000;
  background-image: url("../images/BlankPage-01_edited-home.webp");
  margin-bottom: 50px;
  background-size: cover;
  background-position: top;
}

.pointer-none {
  pointer-events: none;
}

.siteHeader {
  background: #fff;
}
.siteHeader .navCustom .nav-item {
  margin: 0 15px;
}
.siteHeader .navCustom .nav-item .nav-link {
  color: rgb(76, 76, 76);
  font-size: 15px;
  transition: all 0.4s ease-in-out;
}
.siteHeader .navCustom .nav-item .nav-link:hover {
  color: #B6B6B5;
}
@media (min-width: 1024px) {
  .siteHeader .navCustom .nav-item {
    margin: 0 33px;
  }
}

.add-bg-up-down {
  position: relative;
}
.add-bg-up-down:before {
  content: "";
  height: 10px;
  top: -8px;
  position: absolute;
  background: url(../images/beforebg.png);
  left: -8px;
  right: -8px;
}
.add-bg-up-down:after {
  content: "";
  height: 10px;
  bottom: -8px;
  position: absolute;
  background: url(../images/afterbg.png);
  left: -8px;
  right: -8px;
}

.product-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
}
.product-box:hover .quick-view {
  transform: translateY(0);
}

.fz-32 {
  font-size: 32px;
}

.quick-view {
  position: absolute;
  height: 45px;
  left: 0;
  background: rgba(255, 255, 255, 0.7294117647);
  color: #000;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease;
  transform: translateY(45px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.quick-view a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "typewrite-font";
  color: #000;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 960px;
  }
}
.offer {
  animation: SimpleBadgeSwing 3s infinite ease-in-out;
  position: relative;
  left: 12%;
  top: -42px;
}
@media (max-width: 1024px) {
  .offer {
    display: none;
  }
}
@keyframes SimpleBadgeSwing {
  0% {
    transform: rotate(-2deg) scale(0.9);
  }
  50% {
    transform: rotate(2deg) scale(0.9);
  }
  100% {
    transform: rotate(-2deg) scale(0.9);
  }
}/*# sourceMappingURL=app.css.map */